[IRC]
server = irc.freenode.net
port = 6667
nick = Rezeptionistin
ircchan = #k4cg
debugchan = #k4cgdebug
nickservpassword = passw0rd
ignore = user1,user2

[HTTP]
useragent = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/600.6.3 (KHTML, like Gecko) Version/8.0.6 Safari/600.6.3

[MediaWiki]
wikiapiurl = https://k4cg.org/api.php
user = Rezeptionistin
password = passw0rd

[OpenStatus]
url = http://[2001:dead:beef::1]:80/status.json

[Language]
language = de

[Temperature]
host = 2001:dead:beef::1
port = 31337
wunderground = http://api.wunderground.com/api/a5744ceb15b96090/conditions/q/pws:INUREMBE2.json

[Sentences]
satzgenerator = off
markov = on
markovfile = /path/to/corpus.txt

[Licht]
host = 127.0.0.1
port = 31338
id = xpa

[Geraeusche]
host = 127.0.0.1
port = 31338
id = voE
